.youtube-block {
  display: block;
  max-width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.2);
  margin: 4px 0 ;
  
  .horizontal-picker {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 158px;
    
    .youtube-picker__item {
      display: inline-block;

      position: relative;
      width: 250px;
      height: 142px;
      margin: 5px;
      overflow: hidden;
      cursor: pointer;
      padding: 2px;
      //border: 1px solid rgba(0, 0, 0, .);
      border-radius: 8px;
      box-sizing: content-box;
  
      div {
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }
    }
    &::-webkit-scrollbar {
      height: 4px;
      background-color: #F5F5F5;
    }
     
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0,0,0,0.1);
      border: 1px solid #ccc;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: linear-gradient(left, #fff, #e4e4e4);
      border: 1px solid #aaa;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #fff;
    }
    
    &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(left, #22ADD4, #1E98BA);
    }
  }
}

.youtube-header-box {
  display: flex;
  flex-flow: row nowrap;
}

.logomargin {
  margin: 5px 12px 0 16px;
  cursor: pointer;
}

.namemargin {
  margin: 5px 12px 0 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}