.story-picture-title-theme3 {


}

.story-picture-title-theme3 {
    text-align: center;
    font-size: 13px;
    word-wrap: none;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 12px;
    margin: 0 -6px;
  };

 
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');