.order {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    max-width: 600px;
    background: red;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 12px;
    z-index: 4;

    &__description {
        font-size: 14px;
        font-weight: 400;
        padding-top: 6px;
        border-bottom: 1px solid black; 
        margin: 0 12px;
    }

    &__prop {
      font-size: 20px;
      padding: 6px;
      margin: 0 12px;
      text-align: center;
      font-weight: 600;
  }

    &__total {
        font-size: 18px;
        font-weight: 600;
        color: red;
        margin: 12px 12px;

    }

    &__input {
        margin: 6px 12px;
        width: calc(100% - 24px);

        &__descriptions {
            color: gray;
            margin: 0 12px 12px;
            font-size: 10px;
        }

    }
}



.publish-notification {
    bottom: 0px;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    color: rgb(104, 104, 104);
    font-size: 11px;
    padding-bottom: 18px;
  }
  
  .publish { 
    bottom: 0px;
    position: fixed;
    //left: 0;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px 20px 40px;
    transition: .3s bottom; 
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    
    &__button {
      background-color: rgb(30, 144, 255);
      color: #fff;
      height: 50px;
      flex-grow: 1;
      text-transform: uppercase;
      
      &__copy {
        border-right: 0;
        transition: .5s;
        
        &__already {
          background-color: rgba(30, 144, 255, .1);
          color: #000;
          height: 50px;
          flex-grow: 1;
          text-transform: uppercase;
      
        }
      }
    }
  }
  


