.messengers-theme4-box {
    position: absolute;
    width: 100%;
    top: 55px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

.messengers-theme4 {
    max-width: 600px;
    margin: 10px 6px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    .messenger-theme4 {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 6px 12px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding-top: 6px;
      padding-left: 7px;
      
      .icon {
        font-size: 15px;
      }
      
      }
  }

  
  