.stories {
    display: block;
    max-width: 100%;
    margin-top: 12px;
    
    
    
    &__button {
      &.tech-button {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        width: calc(100% - 24px);
        
    
        .icon {
          font-size: 36px;
          margin-right: 24px;
        }
      }
    }
    
    .stories-picker {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      max-width: 600px;
      
        
      .stories-picker-item {
        display: inline-block;
        position: relative;
        width: 60px;
        height: auto;
        margin: 5px;
        overflow: hidden;
        box-sizing: content-box;
        align-items: center;
        justify-content: center;
        
      } 

      .stories-theme6-picker-item {
        display: inline-block;
        position: relative;
        width: 54px;
        height: auto;
        margin: 5px;
        overflow: hidden;
        box-sizing: content-box;
        align-items: center;
        justify-content: center;
      } 
  
      .stories-picker-buttom {
        position: -webkit-sticky;
        position: sticky;
        bottom: 90px;
        left: 12px;
        padding: 14px;
        background-color: #1d90ff;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 0 0 0 #1d90ff;
        transform: scale(1);
        animation: pulse 2s infinite;
        cursor: pointer;
      }

      &::-webkit-scrollbar {
        height: 0px;
        background-color: #F5F5F5;
      }
       
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
        border: 1px solid #ccc;
      }
      
      &::-webkit-scrollbar-thumb { 
        border-radius: 10px;
        background: linear-gradient(left, #fff, #e4e4e4);
        border: 0px solid #aaa;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background: #fff;
      }
      
      &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(left, #22ADD4, #1E98BA);
      }
    }
  }
  
  .story-input-descriptions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 22px;
    color: #888;
    font-size: 10px;
  }
    
  .story-settings-preview-title{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 30px;
    color: #888;
    font-size: 24px; 
  }