.app-theme2 {
    width: 100vw;
    height: 100vh;
  } 

    .app-background-theme2 {
      top: 0;
      position: fixed;
      width: 100%;
      max-width: 600px;
      height: 100%;
      z-index: 0;
      display: block;
      justify-content: center;
      overflow-y: auto;
      display: block;
      
    }

    .app-container-theme2 {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      padding: 0 0 20px 0;
      position: relative;
      
    }