.pwainstall {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: #fff;
    color: black !important;
  }
  
  .footer-brends-box-items {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30%;
  }
  .footer-brends-box-items-icon-icon {
    font-size: 38px;
  } 
    
 .brends-items {
   margin: 0 4px;  
  }   
  
  