.publish-box-pwainstall {
  bottom: 0px;
  position: fixed;
  background-color: #fff;
  z-index: 4;
  color: rgb(30, 144, 255);
  font-size: 8px;
  padding-bottom: 4px;
}

.publish-pwainstall  {
 
    
    &__button {
    background-color: #007aff !important;
    color: white;
    padding: 2px;
    text-transform: uppercase;
    font-size: 11px;
    border: 2px solid #007aff;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;

    }
  }

  .pwainstall-notification {
    background-color: #fff;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6; 
    
  }
  