.slider-container {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  position: fixed;
  padding-top: 43vh;
  top: 0;
  left: 50%;
  transition: .2s;
  transform: translate(-50%, 100%);
  overflow-y: scroll;
  z-index: 10;

  .slider-background {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9;
  }

  &::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
  }
   
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  
  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }

  &.opened {
    transform: translate(-50%, 0);
    
    .slider-background {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  
  .slider {
    position: relative;
    background-color: #fff;
    z-index: 11;
    width: 100%;
    border-radius: 24px;
    box-shadow: -2px -1px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 64px;
    
    &__header {
      position: relative;
      padding: 36px 16px 6px;

      &__title {
        width: 100%;
        display: block;
        text-transform: uppercase;
        padding: 0 36px;
        color: #333;
        text-align: center;
        font-size: 16px;
      }
      &__subtitle {
        width: 100%;
        display: block;
        text-transform: uppercase;
        padding: 8px 18px 0;
        color: #007aff;
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;

        a {
          color: red;
          font-weight: 600;
          
        }
      }
      &__remove {
        position: absolute;
        top: 26px;
        left: 16px;
        font-size: 18px;
        padding: 6px 8px;
        background-color: red;
        border-radius: 20px;
        color: #fff;
        z-index: 11;
        
        svg {
          font-size: inherit;
        }
      }
      &__submit {
        position: absolute;
        top: 26px;
        right: 16px;
        font-size: 30px;
        color: green;
        cursor: pointer;
        z-index: 12;
        
        svg {
          font-size: inherit;
        }
      }
    }
    
    &__body {
      padding: 0 12px 24px;
      color: #000;
    }
  }
}
.slider-header-submitbody-submit {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.slider-header-submit {
  max-width: 90%;
  top: 40px;
  margin-bottom: 60px;
  font-size: 25px;
  border: 2px;
  border-color: #007aff;
  background-color: #007aff;
  border-radius: 5px;
  padding: 5px 12px 4px 3px;
  color: white;
  cursor: pointer;
  overflow-wrap: break-word;
  z-index: 12;

  svg {
   font-size: inherit;
  }
}