.story-picture-title-theme4 {
    padding: 6px;
  
  
  }
  
  .story-picture-title-theme4 {
      text-align: center;
      font-size: 13px;
      word-wrap: none;
      overflow: hidden;
      font-family: 'Gabriela', serif;
      padding: 6px;
      margin: 0 -6px;
    };
  
   
    
    @import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Literata:wght@700&display=swap')