.avatar-theme4-flexbox {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;

}

.user-name-theme4 {
  max-width: 600px;
  text-transform: uppercase ;
  padding: 0 24px; 
  word-break: break-all;
  text-align: center;
  font-family: 'Kelly Slab', cursive;
} 


.avatar-theme4 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  z-index: 1;
  

  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  z-index: 1;
  

  background: {
    size: contain;
    repeat: no-repeat;
    position: bottom center;
  }
}

  
  
  @import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap')