.story-theme6-picture {
  flex-grow: 1;
  margin: 12px 0;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  

  &__box {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50%;
      padding-bottom: 50%;;
      border: 1px solid rgba(0, 0, 0, .2);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      border-radius: 15px;
      
      background: {
          size: cover;
          repeat: no-repeat;
          position: top center; 
        };
      } 
    }



.story-theme6-picture-title {
text-align: left;
width: 100%;
height: 80px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
font-size: 26px;
font-family: 'Fira Sans', sans-serif;
line-height: 1;
white-space: pre-line;
padding: 10px;
color: white !important;
position: absolute;
bottom: 0;

}


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');