.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;

  background: {
    size: contain;
    repeat: no-repeat;
    position: center center;
  };
}

.avatar-video {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
}
