.stories-theme1 {
  bottom: 80px;
  position: fixed;
  width: 100%;
  max-width: 600px; 
  
    
    &__box {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        width: calc(100%-30px);
        margin-left: 15px;
        margin-right: 15px;

    

      &__button {
          flex-shrink: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row nowrap;
          
          span {
            font-size: 28px;
            font-weight: 500;
          }
      
          .icon {
            font-size: 36px;
            margin-right: 24px; 
          }
        
      }

      &__item {
        width: 50px;
        height: 50px;
      } 

     

    }

    
  
      &::-webkit-scrollbar {
        height: 0px;
        background-color: #F5F5F5;
      }
       
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
        border: 1px solid #ccc;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(left, #fff, #e4e4e4);
        border: 0px solid #aaa;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background: #fff;
      }
      
      &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(left, #22ADD4, #1E98BA);
      }
    }
  
  
  
  .story-input-descriptions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 22px;
    color: #888;
    font-size: 10px;
  }
    
  .story-settings-preview-title{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 30px;
    color: #888;
    font-size: 24px; 
  }
  
  .stories-plus-buttom {
    position: absolute;
    bottom: 65px;
    width: 31px;
    height: 30px;
    left: 12px;
    padding: 4px;
    background-color: #73b5f8 !important;
    opacity: 0.5;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 0 0 #1d90ff;
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;
  }
