.app-theme4 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    position: relative;
    overflow: hidden;
    bottom: 0;
    top: 0;
  }

.app-container-theme4 {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
    }
