.story-theme7-picture {
    flex-grow: 1;
    margin: 12px 0;
    width: 250px;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 0 0 200px;

    
  
    &__box {
        height: 125px;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        border-radius: 15px;

        background: {
            size: cover;
            repeat: no-repeat;
            position: top center; 
          };
        } 
      }


  
.story-theme7-picture-title {
  text-align: left;
  width: 250px;
  height: 125px;
  border-radius: 15px;
  border: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  white-space: pre-line;
  padding: 10px ;
  position: absolute;
  top: 70px;
  
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');