.crop-image {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  &__container {
    width: 100%;
    height: calc(100vh - 200px);
    position: relative;
  }
  
  &__footer {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: -50px;
  }
  
  &__button {
    margin: 24px auto;
    min-width: 100px;
    
    &__redo {
      color: #000;
      margin-right: 48px;
    }
  }
}