.catalogItem-settings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow-x: hidden;
  
    &__settings {
      margin: 0 12px 0px;
      display: flex;
      flex-flow: column nowrap;
      
      
      &__animation {
        text-align: center;

        &__store {
        color: #149b36;
        font-size: 18px;
        font-weight: 600;
        width: calc(100% - 24px);
        padding: 12px;
        background-color: gainsboro;
        border-radius: 6px;
        margin: -15px 12px 20px;
        border: 1px solid gray;
        
        &__checked {
          color: red;
        }
      }
  
        &__button {
          width: 35px;
          height: 35px;
          color: #1d90ff;
          
          svg {
            width: 100% !important;
            height: 100% !important;
          }

          &__checked {
            color: red;
          }
        }
      }
    }
    
    &__order {
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }
  
    &__preview {
      margin: 12px -12px;
      text-align: center;
      
  
      &__title {
        color: #888;
        font-size: 13px;
        
        padding: 12px;
      }
      
      .button-in-catalogItem {
        width: 100%;
  
      }
  
      &__catalogItem {
      }
  
      &__empty {
        display: catalogItem;
        height: 40px;
        min-width: 30%;
      }
    }
    
    &__types {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      margin-bottom:  25px;
      
      &__selected {
        color: blue;
      }
    }
  
    &__link_loading {
      text-align: center;
      margin: 0.5em auto;
    }
  }
  
  .pulse1 {
      animation: 4s pulsar1 0.4s infinite linear;
    }
  
  .icon1 {
       background-color: rgba(29, 144, 255, 1)
    }
  
  
  @keyframes pulsar1 {
    from {
      transform: scale3d(1, 1, 1);
    }
    2%, 4% {
      transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -1deg);
    }
    6%, 10%, 14%, 18% {
      transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 1deg);
    }
    8%, 12% {
      transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -1deg);
    }
    20%, to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .preview-area-box-for-catalogItems {
    margin: 12px;
  }