header {
  display: flex;
  flex-flow: row nowrap;
  padding: 16px 24px;
  align-items: center;
  
  .avatar {
    margin-right: 16px;
  }
}

h4 {
  font-size: 1em;
  display: block;
  font-weight: 400;
  
  &:first-child {
    margin-top: 0;
  }
}

.advanced-settings {
  display: block;
  max-width: 100%;
  
  .horizontal-picker {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
    .picker__item {
      display: inline-block;
    }
  }
}

.pulse2 {
  animation: 2s pulsar2 0.8s infinite linear;
}


@keyframes pulsar2 {
  from {
    transform: scale3d(2, 2, 2);
  }
  2%, 4% {
    transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 2, -1deg);
  }
  6%, 10%, 14%, 18% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 2, 1deg);
  }
  8%, 12% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 2, -1deg);
  }
  20%, to {
    transform: scale3d(1.5, 1.5, 1.5);
  }
}
