footer {
  margin: 24px 0 0;
  text-align: center;

  a {
    text-decoration: underline;
    text-transform: uppercase;
  }
}
.textfooter {
  font-size: 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px 12px 6px;
  border-radius: 4px;
  margin-bottom: 64px;
}

.textlogofooter {
  font-size: 8px;
  margin-bottom: 40px;
  
}

.footerbox {
  padding: 0 12px;
  

}
.footertext {
padding: 6px 12px 6px;
overflow-wrap: anywhere;
white-space: pre-line;
}

.footerlink {
 font-weight: bold;
 padding: 0 12px;   
 margin-top: -6px;
 overflow-wrap: anywhere;
 white-space: pre-line;
}

.textfooter1 {
  font-size: 18px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px 12px 60px;
  border-radius: 4px;
  margin-bottom: 52px;
  overflow-wrap: anywhere;
  white-space: pre-line;
}




