footer {
  margin: 24px 0 0;
  text-align: center;

  a {
    text-decoration: underline;
    text-transform: uppercase;
  }
}
.textfooter {
  font-size: 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px 12px 6px;
  border-radius: 4px;
  margin-bottom: 64px;
}

.textlogofooter {
  font-size: 8px;
  color: black;
  margin-bottom: 32px;
  padding: 0 0 138px 0;
}