footer {
  margin: 24px 0 0;
  text-align: center;

  a {
    text-decoration: underline;
    text-transform: uppercase;
  }
}
.textfooter {
  font-size: 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px 12px 6px;
  border-radius: 4px;
  margin-bottom: 64px;
}

.textlogofooter {
  font-size: 8px;
  color: black;
  margin-bottom: 32px;
  padding: 0 0 138px 0;
}

.footerbox {
  padding: 0 12px;
  

}
.footertext {
padding: 6px 12px 6px;
overflow-wrap: anywhere;
white-space: pre-line;
}

.footerlink {
 font-weight: bold;
 padding: 0 12px;   
 margin-top: -6px;
 overflow-wrap: anywhere;
 white-space: pre-line;
}

.textfooter1 {
  font-size: 18px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px 12px 60px;
  border-radius: 4px;
  margin-bottom: 52px;
  overflow-wrap: anywhere;
  white-space: pre-line;
}

.footer-brends-box-active {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom:  25px;
  margin: -100px 20% 150px;
}

.footer-brends-box-no-active {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom:  25px;
  margin: 10px 20% 150px;
}

.footer-brends-box-items-icon-icon {
    font-size: 58px;
  }
  
.brends-items {
  margin-bottom: 100px;
} 