.app-theme1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  bottom: 0;
}

.app-container-theme1 {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      
    }