.story-picture {
    flex-grow: 1;
    width: 100%;
    margin: 12px 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
  
      img {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        border-radius: 15px; 
      }
}
.story-picture-selected {
  flex-grow: 1;
  width: 100%;
  margin: 12px 0;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  

    img {
      width: 88%;
      border: 4px solid rgb(30, 144, 255) !important;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      border-radius: 15px; 
    }
}
  
.story-picture-title {
  text-align: center;
  font-size: 8px;
  min-height: 20px;
  word-wrap: none;
  overflow: hidden;
  padding: 0 6px; 
}
  