.user-name-theme6 {
    width: 100%;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 12px;
    font-size: 15px;
    text-transform: uppercase ;
    line-height: 0.9;
    font-family: 'Lobster', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
