.block {
  flex-grow: 1;
  width: 100%;
  margin: 6px 0;
  overflow: hidden;
  font-size: 16px;
  padding: 0 36px;
  overflow-wrap: anywhere;
  white-space: pre-line;

  &__picture {
    padding: 0;
    margin-bottom: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;

    .block__title {
      text-align: center;
    }

    img {
      width: 100%;
    }
    
    &__with-button {
      font-size: 20px;
      margin: 0;
    }

    &__with-image {
      .block__title {
        margin-top: 16px;
      }
    }
  }

  &__preview {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 4px;
    border-bottom: 1px solid;
    
    
    img {
      width: auto;
      max-height: 60px;
      margin-right: 12px;
      border-radius: 6px;
      float: left;
    }
    p {
      text-align: left;
      font-size: 12px;
      font-weight: bold;
    }

    &__block__title {
      text-align: left;
      font-size: 12px;
      font-weight: bold;
    }
    
    
    &__with-button {
      padding: 0;
      border-bottom: none;
      margin: -12px 0;

      p {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
      }
  
        
  
      img {
        max-height: 100px;
      }
    }
  }

 
  

  &__text {
    
    .block__title {
      z-index: 2;
      position: relative;
      text-align: center;
      font-size: 24px;
      line-height: 0.9;
      font-weight: 400;
      display: flex;
        

    }

    &__with-button {
      padding: 0 12px;
    }

    &__with-image {
      background-position: center center;
      background-size: cover;
      position: relative;
      min-height: 150px;
      

        

      &__with-button {
        margin: -12px -16px;
        width: calc(100% + 32px);
        display: flex;
        flex-wrap: nowrap;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
      }

      .block__title {
        color: #fff !important;
        font-weight: 600;
        font-size: 28px; 
        padding: 12px 0;

      
    }
    }

    &__with-image-without-title {
      background-position: center center;
      background-size: cover;
      position: relative;
      

      &__with-button {
        margin: -12px -16px;
        width: calc(100% + 32px);
        padding: 24px 36px;
      }
    }
  }
}
.block-preview-without-image-with-button {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 0;
}

.box-block-text {
  margin-left: -11px;
  margin-right: -11px;
  width: calc(100% + 22px);
}

.block-text-with-text {
  width: calc(100% + 24px);
  height: calc(100% + 36px);
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

}

.block-preview-with-image-with-button {
  padding: 14px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 128px;

    &__title {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    align-items: flex-start;
    text-align: left; 
    padding: 14px 14px 14px 0;
    width: calc(100%-42px);
  }
}  


